header {
  background: var(--secondary-color);
  padding: 20px 0;
  box-shadow: 8px 3px 35px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100vw;
  z-index: 100;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo {
  margin: 0;
  font-size: 2.5em;
  color: var(--primary-color);
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-list li a {
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.3s;
  font-size: 1.5em;
}

.nav-list li a:hover {
  color: var(--accent-color);
}

.burger {
  display: none;
  font-size: 2em;
  cursor: pointer;
  user-select: none;
}

.burger svg {
  fill: var(--primary-color);
  overflow: visible;
}

#burger__first-line,
#burger__second-line,
#burger__third-line {
  transform-origin: center;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.burger.active #burger__first-line {
  transform: rotate(40deg) translate(15px, 10px);
}

.burger.active #burger__second-line {
  opacity: 0;
}

.burger.active #burger__third-line {
  transform: rotate(-40deg) translate(30px, -15px);
}


@media (max-width: 768px) {
  .burger {
    display: block;
  }

  .nav {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    background: var(--secondary-color);
    width: 100%;
    padding: 20px 0;
  }

  .nav.active {
    display: block;
  }

  .nav-list {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 0;
  }
}
